






<!DOCTYPE html>
<html class="no-js" lang="">
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/x-icon"
	href="/BanglarBhumi/images/ball1.ico">
<title>LAND AND LAND REFORMS AND REFUGEE RELIEF AND REHABILITATION DEPARTMENT</title>
<!---------------  css  ------------------->
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/top_row_ul.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/mainstyle.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/site.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/new_style_kp3.0.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/easy-responsive-tabs.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/styles.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/styles_ajax.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/bootstrap-dropdownhover.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/bootstrap-dropdownhover.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/demo.css">
<link rel="stylesheet" type="text/css" title="white" href="/BanglarBhumi/css/white.css">
<link rel="alternate stylesheet" type="text/css" title="pink" href="/BanglarBhumi/css/pink.css">
<link rel="alternate stylesheet" type="text/css" title="green" href="/BanglarBhumi/css/green.css">
<link rel="alternate stylesheet" type="text/css" title="red" href="/BanglarBhumi/css/red.css">
<link rel="alternate stylesheet" type="text/css" title="black" href="/BanglarBhumi/css/black.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/ez-accordion.min.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/custom/template.css">
<link rel="stylesheet" type="text/css" href="/BanglarBhumi/css/custom/style.css"> 
<link rel="stylesheet" href="/BanglarBhumi/css/dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="/BanglarBhumi/css/loading.css" type="text/css" />
	
<link rel="stylesheet" href="/BanglarBhumi/css/jquery.alerts.css" type="text/css" />


<!---------------  js  --------------------->



<script type="text/javascript" src="/BanglarBhumi/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/jquery-1.12.4.min.js"></script> 


<script type="text/javascript" src="/BanglarBhumi/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/custom.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/angular.min.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/angular-translate.min.js"></script>

<script type="text/javascript" src="/BanglarBhumi/js/bengali.js"></script>

<script type="text/javascript" src="/BanglarBhumi/js/easyResponsiveTabs.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/bootstrap-dropdownhover.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/bootstrap-dropdownhover.min.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/themecustomizer.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/fontmodifier.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/ez-accordion.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/dataTables.min.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/numeric-comma.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/custom/template.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/custom/validate.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/custom/style.js"></script>
<script type="text/javascript" src="/BanglarBhumi/js/MD5.js"></script>


<script type="text/javascript">
 var contextPath = "/BanglarBhumi";
 var currentTheme = '';
 var previousTheme = '';
 
 document.oncontextmenu=new Function('return false');
  $(document).keydown(function (event) {
	    if ((event.keyCode >= 117 && event.keyCode <= 123) || event.keyCode == 114) { // Prevent F12
	        return false;
	    }else if ((event.ctrlKey && event.shiftKey && event.keyCode == 73) || (event.ctrlKey && event.shiftKey && event.keyCode == 74)) {
            return false;
        }else if (event.altKey ){
        	 return false;
        }else if (event.ctrlKey ){        	
        	 if (event.ctrlKey &&   (event.keyCode === 116 )) {
  		       return true;
  	        }else  if ((event.ctrlKey && event.shiftKey && event.keyCode == 77) || (event.ctrlKey && event.shiftKey && event.keyCode == 109)) {
	        	return true;
	        }else{
	        	return false;
	        }
        }      
        		
	}); 
  
  $(document).ready(function () {
	  switch_style(currentTheme);
	  if(currentTheme == 'black'){
		  $(".dark").show();
		  $(".light").hide();
	  }else{
		  $(".dark").hide();
		  $(".light").show();  
	  }
	  
 	  $('body').bind('cut copy paste', function (e) {
 	      e.preventDefault();
 	   });
 	  window.addEventListener("dragover",function(e){
 		  e = e || event;
 		  e.preventDefault();
 		},false);
 	  window.addEventListener("dragstart",function(e){
		  e = e || event;
		  e.preventDefault();
		},false);
 		window.addEventListener("drop",function(e){
 		  e = e || event;
 		  e.preventDefault();
 		},false);
 		$('.light').click(function (event) {
 			$(".light").hide();
 			$(".dark").show();
 		});
		$('.dark').click(function (event) {
			//previousTheme = '';
			$(".light").show();
			$(".dark").hide();			
			$.post("getPrethemeName.action",{},
					 function(data){
						 previousTheme=data.preTheme;
						 switch_style(previousTheme);
					 },"json");
			return false;
 		});
		$("input[name=theme]").click(function (event) {
			$(".light").show();
			$(".dark").hide();
			return false;
 		});
 	}); 
	 function homePage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Home.action");
			$("#form_MainMenuPage").submit();
	   }
	 function ProfilePage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Profile.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function AdministrativePage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Administrative.action");
			$("#form_MainMenuPage").submit();
	  } 

	 function RefugeeReliefRehabilationPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/RefugeeReliefRehabilation.action");
			$("#form_MainMenuPage").submit();
	  } 
function AgricultureCensusPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/AgricultureCensus.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function LandPolicyBranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LandPolicyBranch.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function LRISBranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LRISBranch.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function RentControlPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/rent.action");
			$("#form_MainMenuPage").submit();
	  }
	 function ThikaPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Thika.action");
			$("#form_MainMenuPage").submit();
	  }
	 function IndoBanglaPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/IndoBangla.action");
			$("#form_MainMenuPage").submit();
	  }
	 function StateLandUseBoardPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/StateLandUseBoard.action");
			$("#form_MainMenuPage").submit();
	  }
	 function GEMBranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/GEMBranch.action");
			$("#form_MainMenuPage").submit();
	  }
	 function RequisitionBranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/RequisitionBranch.action");
			$("#form_MainMenuPage").submit();
	  }
	 function MMBbranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/MMBbranchPage.action");
			$("#form_MainMenuPage").submit();
	  }
	 function SurveySetelmentBranchPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/SurveySetelmentBranch.action");
			$("#form_MainMenuPage").submit();
	  }
	 function CitizenCentricServicesPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/CitizenCentricServices.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function ARTIPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/ARTI.action");
			$("#form_MainMenuPage").submit();
	  }
	 function LMTCPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LMTC.action");
			$("#form_MainMenuPage").submit();
	  }
	 
	 function EstablishmentPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Establishment.action");
			$("#form_MainMenuPage").submit();
	  }
	 
	 function LawBranch(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LawBranch.action");
			$("#form_MainMenuPage").submit();
	  }
	 
	 function DistributionLandPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/DistributionLand.action");
			$("#form_MainMenuPage").submit();
	  }
	 
	 function ManagementISUPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/ManagementISU.action");
			$("#form_MainMenuPage").submit();
	  }
	 
	 function KeyPersonnelPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/KeyPersonnel.action");
			$("#form_MainMenuPage").submit();
	  }
	 function LandReformPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LandReform.action");
			$("#form_MainMenuPage").submit();
	  }
	 function DigitisationMapRecordsPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/DigitisationMapRecords.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function LandManagementPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LandManagement.action");
			$("#form_MainMenuPage").submit();
	  } 
	 function PreparationUpdationMaintenancePage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/PreparationUpdationMaintenance.action");
			$("#form_MainMenuPage").submit();
	  }
	function knowYourPropertyPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/KnowYourProperty.action");
			$("#form_MainMenuPage").submit();
	  }
	function serviceStatusLocWise(){
	 	$("#form_MainMenuPage").attr("action",contextPath+"/SerivceStatusLocationWise.action");
		$("#form_MainMenuPage").submit();
  }
	
	 function MuteApplicationPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/MuteApplication.action");
			$("#form_MainMenuPage").submit();
	  }  	  
	  function RORReqPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/RORReq.action");
			$("#form_MainMenuPage").submit();
	  }
	 function PIReqPage(){		
			$("#form_MainMenuPage").attr("action",contextPath+"/PIReq.action");
			$("#form_MainMenuPage").submit();		 
	 }
	 function PlotMapReqPage(){		
			$("#form_MainMenuPage").attr("action",contextPath+"/PlotMapReq.action");
			$("#form_MainMenuPage").submit();		 
	 }
	 function MouzaMapReqPage(){		
			$("#form_MainMenuPage").attr("action",contextPath+"/MouzaMapReq.action");
			$("#form_MainMenuPage").submit();		 
	 }
	 /* function RsMapReqPage(){		
			$("#form_MainMenuPage").attr("action",contextPath+"/RsMapReq.action");
			$("#form_MainMenuPage").submit();		 
	 } */
	 function MouzaMapAvailabilityPage(){		
			$("#form_MainMenuPage").attr("action",contextPath+"/MouzaMapAvailabilityReq.action");
			$("#form_MainMenuPage").submit();		 
	 }
	 
	  function grnsearchPageAppln(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/grnsearchAppln.action");
			$("#form_MainMenuPage").submit();
	  }
	  function grnsearchPageService(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/grnsearchService.action");
			$("#form_MainMenuPage").submit();
	  }
	  
	  function Apprec_rep(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Apprecrep.action");
			$("#form_MainMenuPage").submit();
	  }
	  function FeesCollectionPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/FeesCollection.action");
			$("#form_MainMenuPage").submit();
	  }
	  /* function knowYourPropertyPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/KnowYourProperty.action");
			$("#form_MainMenuPage").submit();
	  } */
	  function muteStatusPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/MuteStatus.action");
			$("#form_MainMenuPage").submit();
	  }
	  function plotKhatianStatusPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/PlotKhatianStatus.action");
			$("#form_MainMenuPage").submit();
	  }	  
	  function rslrPlotInfoPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/RslrPlotInfo.action");
			$("#form_MainMenuPage").submit();
	  }
	  
	  function landClassPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/LandClass.action");
			$("#form_MainMenuPage").submit();
	  }
	  function signedPdfPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/signedPdfList.action");
			$("#form_MainMenuPage").submit();
	  }
	  
	  function convAppViewPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/ConvAppViewAction.action");
			$("#form_MainMenuPage").submit();
	  }
	  function warishAppViewPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/WarishAppViewAction.action");
			$("#form_MainMenuPage").submit();
	  }	 
	function GrievApplicationPage(){
 			$("#form_MainMenuPage").attr("action",contextPath+"/GrievAppViewAction.action");
			$("#form_MainMenuPage").submit();
	}	
	function GrievStatusViewPage(){
 			$("#form_MainMenuPage").attr("action",contextPath+"/GrievStatusViewAction.action");
			$("#form_MainMenuPage").submit();
	}	
	function querySearchPage(){
	 		$("#form_MainMenuPage").attr("action",contextPath+"/QuerySearchAction.action");
			$("#form_MainMenuPage").submit();
		}
	 function SiteMapPage(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/Sitemap.action");
			$("#form_MainMenuPage").submit();
	  }
	 function termuse(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/termsofuse.action");
			$("#form_MainMenuPage").submit();
	  }
	 function linkpol(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/linkingpolicy.action");
			$("#form_MainMenuPage").submit();
	  }
	 function pripol(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/privacypolicy.action");
			$("#form_MainMenuPage").submit();
	  }
	 function loadDashboard(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/dashboard.action");
			$("#form_MainMenuPage").submit();
	  }
	 function feedback(){
		 	$("#form_MainMenuPage").attr("action",contextPath+"/feedBackPage.action");
			$("#form_MainMenuPage").submit();
	  }
	/* Changed By Saswata for Search option */
	function searchActionChange(){
		var functionChange = $(".search_select").val();
		eval(functionChange + "()");
	}
	/*End Saswata*/
	
	function webInformationManger(){
		$("#form_MainMenuPage").attr("action",contextPath+"/webInformationManager.action");
		$("#form_MainMenuPage").submit();
	}
	function helpPage(){
		$("#form_MainMenuPage").attr("action",contextPath+"/help.action");
		$("#form_MainMenuPage").submit();
	}
	function ApplnsearchPageGrn(){
		$("#form_MainMenuPage").attr("action",contextPath+"/appliSearchGrn.action");
		$("#form_MainMenuPage").submit();
	}
	function LandAcquisitionPage(){
	 	$("#form_MainMenuPage").attr("action",contextPath+"/LandAcquisition.action");
		$("#form_MainMenuPage").submit();
	}
	function LACollector(){
		$("#form_MainMenuPage").attr("action",contextPath+"/LACollector.action");
		$("#form_MainMenuPage").submit();
	}
	function ScreenReaderAccess(){
		$("#form_MainMenuPage").attr("action",contextPath+"/ScreenReaderAccess.action");
		$("#form_MainMenuPage").submit();
	}
	$(function() {
		$(".langSaveToSession").click(function(){
			//alert($(this).attr('id'));
			$.post("addLang.action",{
				 language :$(this).attr('id'),
				 ajax : 'true'});//,
			  		//function(data){	alert('success')  },"json");
		});
	});
	
	</script>
	
</head> 

<body ng-app="at" style="font-family: siyam_rupaliregular !important">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- Preloader -->
	<a id="back-to-top" href="#" class="back-to-top"> 
	<i class="fa fa-arrow-up" ></i>
	</a>
	<div class="container-fluid">
	<form id="form_MainMenuPage" name="form_MainMenuPage" action="/BanglarBhumi/ScreenReaderAccess.action" method="post" autocomplete="false">
		<div class="row">
			<div class="top_row col-xs-12 ">
				<div class="searchdropdown float-right">
					<!-- Changed By Saswata for Search option -->
					<select class="search_select" onchange="searchActionChange()">  
						<option translate="label_search" selected="selected" value="#">Search</option>
						<option value="ProfilePage" translate="About_Us"></option>
						<option translate="label_Land_Reforms" value="LandReformPage"></option>
						<option value="GEMBranchPage" translate="label_GEM_Branch"></option>
						<option value="MMBbranchPage" translate="label_MM_Branch"></option>
						<option value="RequisitionBranchPage" translate="label_Requisition_Branch"></option>
						<option value="AgricultureCensusPage" translate="label_Agricultural_Census_Branch"></option>
						<option value="SurveySetelmentBranchPage" translate="label_Survey_Setlement_Branch"></option>
						<option value="EstablishmentPage" translate="label_Establishment"></option>
						<option value="LawBranch" translate="label_Law_Branch"></option>
						<option value="ARTIPage" translate="ARTI"></option>
						<option value="LMTCPage" translate="LMTC"></option>
						<option value="RentControlPage" translate="label_Rent_Controller"></option>
						<option value="ThikaPage" translate="label_Thika_Tenancy"></option>
					</select>
					<!-- Saswata End -->
				</div>
				<div class="contrastdiv float-right">
				<ul>
				    <li class="colorchanger">
            		<ul>
              			<li><a title="Normal Contrast" onclick="switch_style('black'); return false;" class="high-contrast light" href="javascript:void(0);" ><strong>High Contrast Theme</strong></a></li>
              			<li><a title="High Contrast" onclick=" " class="high-contrast dark"  href="javascript:void(0);" style="display: none;"><strong>Low Contrast Theme</strong></a></li>
            		</ul>
         		 	</li>
         		 </ul>
				</div>
				<div class="colorscheme float-right">
					<form>
					  <input type="submit" onclick="switch_style('white'); return false;" name="theme" value="" id="white" title="Default Theme" title="Default Theme">
					  <input type="submit" onclick="switch_style('pink'); return false;" name="theme" value="" id="pink"  title="Brown Theme" title="Brown Theme">
					  <input type="submit" onclick="switch_style('green'); return false;" name="theme" value="" id="green" title="Green Theme" title="Green Theme">
					  <input type="submit" onclick="switch_style('red'); return false;" name="theme" value="" id="red" title="Red Theme" title="Red Theme">
				   </form>
				</div>
				<div class="otherlinks float-right">
					<ul>
						<li>
							<a data-toggle="tooltip" data-placement="bottom" href="/BanglarBhumi/BengaliFonts/bengali_fonts.rar" title="Download Required Fonts">
								<img class="dwnldFont" src="/BanglarBhumi/images/download-font.png" alt="Download Required Fonts"/>
							</a>
						</li>
						<li><a href="#"><img src="/BanglarBhumi/images/font.png" alt="Increase or Decrease Font Size"/></a>
							<ul>
								<li><a id="font123" title="Increase font size"
									class="increase1"><p>A<sup>+</sup></p></a></li>
								<li><a id="font123"  title="Normal Font Size"
									class="resetMe1"><p>A</p></a></li>
								<li><a id="font123"  title="Decrease font size"
									class="decrease1"><p>A<sup>-</sup></p></a></li>
							</ul>
						</li>
						<li ng-controller="Ctrl"><a href="#" class="small-a">
							<img src="/BanglarBhumi/images/language.png" alt="Choose Your Language"/></a>
							<ul>
								<li><a href="javascript:void(0)" id="bn"
									ng-click="changeLanguage('bn')" class="ng-scope langSaveToSession"><p>বাংলা</p></a></li>
								<li><a href="javascript:void(0)" id="en"
									ng-click="changeLanguage('en')" class="ng-scope langSaveToSession"><p>English</p></a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="otherlinkssra float-right" >
					<a onclick="ScreenReaderAccess()"><span translate="Screen_Reader_Access"></span></a>
				</div>
				<div id="afterLoginDiv" class="fonts-div float-right signin" ng-controller="Ctrl" >
					
				 <div class="small-a" title="Change Password" id="changePassword"
						style="float: left; cursor: pointer; font-weight: bold;">
						<i class="fa fa-sign-in" translate="label_change_password">&nbsp; </i>
											
					</div>				                            
                    <a href="logout" class="small-a" title="Click to Logout">
                    	<i class="fa fa-sign-in" translate="label_logout">&nbsp; </i>
                    </a>					
				</div>	
				<div id="beforeLoginDiv" class="fonts-div float-right signin"  ng-controller="Ctrl">
				<div class="small-a" title="Sign In" id="signIn"
						style="float: left; cursor: pointer; font-weight: bold;">
						<i class="fa fa-sign-in" translate="label_signIn">&nbsp; </i>
											
					</div>
					<div class="small-a signUp" title="Sign Up" id="signUp"
						style="float: left; cursor: pointer; font-weight: bold;">&nbsp; 
						<i class="fa fa-registered" translate="label_signUp">&nbsp; </i>
					</div>
				</div>						
				<div id="afterLoginLabel" class="fonts-div1 float-right" style="font-size:16px;">						 
						<span translate="label_welcome"></span> 
						<label>-->&nbsp</label> &nbsp;&nbsp;     	
				</div>
			</div>


			<div class="modal fade" id="map-modal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true"
				style="display: none;">

				<div class="modal-dialog">
					<div id= "banglamap" class="banglamap-container" 
						style="max-width: 700px !important;border: double; 8px;
						border-color: rgb(15,63,152);">
                  	</div>
				</div>
					</div>
			<div class="modal fade" id="citserv-modal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
				style="display: none;">
				<div class="modal-dialog">
					<div class="banglamap-container">
						<h3 align="center" style="margin-bottom: 1em;">Citizen Services</h3>
						<br>
						<div class="container" style="padding-bottom: 20px;">
							<a href="#"><span
								class="round_icon1 col-lg-2 col-md-2 col-xs-4"><i
									class="fa fa-archive" aria-hidden="true"></i><br>
									<div class="icon-text1" translate="Application_Forms"></div></span></a> <a
								href="#"><span
								class="round_icon1 col-lg-2 col-md-2 col-xs-4"><i
									class="fa fa-map-o" aria-hidden="true"></i><br>
									<div class="icon-text1" translate="RSLR_plotinfo"></div></span></a> <a
								href="#" onclick="muteStatusPage()"><span
								class="round_icon1 col-lg-2 col-md-2 col-xs-4"><i
									class="fa fa-search" aria-hidden="true"></i><br>
									<div class="icon-text1" translate="Mutation_casestat"></div></span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="loginmodal-container"></div>
				</div>
			</div>
		    <div class="modal fade" id="admin-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	      <div class="modal-dialog">
				<div class="admin-loginmodal-container">
				</div>
			 </div>
		   </div>
			<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="signUpmodal-container"></div>
				</div>
			</div>
			<div class="modal fade" id="forgot-modal" tabindex="-1" role="dialog"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="forgotmodal-container"></div>
				</div>
			</div>
			<div class="modal fade" id="information-modal" tabindex="-1"
				role="dialog" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color:#DBE1FF;text-align: center;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Information</h4>
					</div>
					<div class="information"></div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="citizen-modal" tabindex="-1" role="dialog"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="citizen-container"></div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="logo-div row" ng-controller="Ctrl">
				<div class="logo col-sm-5 float-left" style="padding-left:0px!important">  <!-- Change by Saswata for Tab view design -->
					<img
						
						src="/BanglarBhumi/images/bl.png"
						id="main-logo" alt="Land and Land Reform & Refugee Relief and Rehabilitation Department">
				</div>

				<div  class="top_link_icon col-sm-7 float-right">  <!-- Change by Saswata for Tab view design -->
						<a href="#" data-toggle="modal" data-target="#map-modal">
						<span class="round_icon float-right"><i
								class="fa fa-globe" aria-hidden="true"></i>
								<div class="icon-text" translate="Blocks_Mouzas"></div></span></a>
								
								 <a id="grievanceBtn"><span style="padding-right:20px;" class="round_icon float-right"><i
								class="fa fa-users" aria-hidden="true"></i>
								<div class="icon-text" translate="Public_Grievance"></div></span></a> 
								
								<a href="#" onclick="querySearchPage()"><span style="padding-right:20px;"
								class="round_icon float-right"><i
								class="fa fa-commenting-o" aria-hidden="true"></i>
								<div class="icon-text" translate="Query_Search"></div></span></a>

						     <a href="#" onclick="knowYourPropertyPage()"><span style="padding-right:20px;" class="round_icon float-right"><i
								class="fa fa-home" aria-hidden="true"></i>
								<div class="icon-text" translate="Know_Your_Property"></div></span></a>
							<a id ='citizenServicesBtn' ><span style="padding-right:20px;"
								class="round_icon float-right"><i
								class="fa fa-address-card-o" aria-hidden="true" ></i>
								<div class="icon-text" translate="Citizen_Services"></div></span></a>	
												
					</div>
			</div>


					
			<!-- Mobile View Menu Start-->
			<nav class="navbar nav-bar navbar-inverse" 
				data-offset-top="134">
				<div class="nav-container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle float-left"
							data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<span class="menu_name col-xs-1" translate="Menu"></span>
					</div>

					<div class="collapse navbar-collapse col-lg-12 col-md-12 col-sm-12 col-xs-11"
						id="myNavbar" data-hover="dropdown"
						data-animations="fadeInDownNew fadeInRightNew fadeInUpNew fadeInLeftNew">
						<ul class="nav navbar-nav">
							<li><a class="hvr-underline-from-center" onclick="homePage()" title="Home" ><i
									class="fa fa-home fa-2x"
									style="vertical-align:middle;margin-top:-6.5px;"></i></a>
							</li>

							<li class="dropdown">
							<a
								class="hvr-underline-from-center dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false"
								href="#"> <span translate="About_Us"></span>&nbsp;<i
									class="fa fa-chevron-circle-down" aria-hidden="true"> </i>
							</a> <!-- about us -->
								<ul class="dropdown-menu dropdownhover-bottom" role="menu">
									<li><a onclick="ProfilePage()"><span translate="Profile"></span></a></li>
									<li><a onclick="AdministrativePage()"><span translate="Administrative_Setup"></span></a></li>
									
									<li class="dropdown-submenu">
									 <a tabindex="-1" href="#" role="button"><span translate="Services_Functions"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
										<ul class="dropdown-menu dropdownhover-bottom" role="menu">
											<li class="dropdown-submenu">
											  <a tabindex="-1" href="#"><span translate="label_Department"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
											    <ul class="dropdown-menu dropdownhover-bottom submenu_border" role="menu"> <!-- Changed by Saswata for Mobile View -->
											    <li><a onclick="RefugeeReliefRehabilationPage()"><span translate="label_Refugee_Relief_Rehabilation"></span></a></li>
												<li><a onclick="LandPolicyBranchPage()"><span translate="label_Land_Policy"></span></a></li>
												<li class="dropdown-submenu">
												<a tabindex="-1" href="#"><span translate="label_Land_Reforms"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
													<ul class="dropdown-menu dropdownhover-bottom submenu_border" role="menu"> <!-- Changed by Saswata for Mobile View -->
													  <li><a onclick="LandReformPage()"><span translate="label_About_Land_Reforms"></span></a></li>
													  <li><a onclick="GEMBranchPage()"><span translate="label_GEM_Branch"></span></a></li>
													  <li><a onclick="MMBbranchPage()"><span translate="label_MM_Branch"></span></a></li>
													  <li><a onclick="RequisitionBranchPage()"><span translate="label_Requisition_Branch"></span></a></li>
													  <li><a onclick="AgricultureCensusPage()"><span translate="label_Agricultural_Census_Branch"></span></a></li>
													  <li><a onclick="SurveySetelmentBranchPage()"><span translate="label_Survey_Setlement_Branch"></span></a></li>
													  <li><a onclick="EstablishmentPage()"><span translate="label_Establishment"></span></a>
													  <li><a onclick="LawBranch()"><span translate="label_Law_Branch"></span></a>
													  </li>
													</ul>
													</li>
													<li><a onclick="LRISBranchPage()"><span translate="label_LR_Integrated_Setup_Branch"></span></a></li>
													<li class="dropdown-submenu">
													<a tabindex="-1" href="#"><span translate="label_Land_Aquisition"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
													<ul class="dropdown-menu dropdownhover-bottom submenu_border" role="menu"> <!-- Changed by Saswata for Mobile View -->
													<!-- <li class="dropdown">
													<a class="hvr-underline-from-center dropdown-toggle"
								                       data-toggle="dropdown" role="button" aria-expanded="false"
								                       href="#"> -->
								                       <li><a onclick="LandAcquisitionPage()"><span translate="label_Land_Aquisition"></span></a>
								                       
													  <!-- </li> -->
													  <li class="dropdown"><a onclick="LACollector()"><span translate="label_LA_Collector"></span></a>
													  </li>
													</ul>    
													</li>
													
													
												</ul>
										   </li> 
												
											<li class="dropdown-submenu">
											<a tabindex="-1" href="#"><span translate="label_Directorate_Land_Records_Surveys"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
											  <ul class="dropdown-menu dropdownhover-bottom submenu_border" role="menu"> <!-- Changed by Saswata for Mobile View -->
													  <li><a onclick="CitizenCentricServicesPage()"><span translate="label_Citizen_Centric_Services"></span></a></li>
													  <li><a onclick="DigitisationMapRecordsPage()"><span translate="label_Digitisation_Map_Records"></span></a></li>
													  
													  <li><a onclick="PreparationUpdationMaintenancePage()"><span translate="label_Preparation_Updation_Maintenance"></span></a></li>
													  <li><a onclick="DistributionLandPage()"><span translate="label_Land_Distribution"></span></a></li>
													  <li><a onclick="ManagementISUPage()"><span translate="label_ISU_Management"></span></a></li>
													  <li class="dropdown-submenu">
													  <a tabindex="-1" href="#"><span translate="Training"></span>&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
													  
													  <ul class="dropdown-menu dropdownhover-bottom submenu_border" role="menu"> <!-- Changed by Saswata for Mobile View --> 
													    <li><a onclick="ARTIPage()"><span translate="ARTI"></span></a></li>
													    <li><a onclick="LMTCPage()"><span translate="LMTC"></span></a></li>
													  </ul>
													  </li>
													</ul>
													</li>
											<li><a href="rent"><span translate="label_Rent_Controller"></span></a></li>
											<li><a onclick="ThikaPage()"><span translate="label_Thika_Tenancy"></span></a></li>
											<li><a onclick="IndoBanglaPage()"><span translate="label_Indo_Bangladesh_Boundary_Demarcation"></span></a></li>
											<li><a onclick="StateLandUseBoardPage()"><span translate="label_State_Land_Use_Board"></span></a></li>
										</ul></li>
								</ul></li>
							<!-- about us -->
							<li><a class="hvr-underline-from-center" href="Tender" translate="Tenders_Notices"></a></li>
							<!-- <li class="dropdown"> -->
							<li><a class="hvr-underline-from-center" href="ActRuleOrderNotification" translate="Acts_Rules_Gov_Order"></a></li>
							<li><a class="hvr-underline-from-center" id="latestNewsOrNotification" title=""><span translate="Latest_News_Events"></span></a></li>
							<li><a class="hvr-underline-from-center ng-scope" href="Forms" translate="Downloads"></a></li>
							<li><a class="hvr-underline-from-center ng-scope" href="Gallery" translate="Gallery"></a></li>
							<li><a class="hvr-underline-from-center ng-scope" href="helpTopic" translate="FAQ"></a></li>
							<li><a class="hvr-underline-from-center ng-scope" href="RTI" translate="rti"></a></li>
							<li><a class="hvr-underline-from-center ng-scope" onclick="loadDashboard()" translate="lvl_dashbrd"></a></li>
							<!-- <li><a class="hvr-underline-from-center ng-scope" href="recruitment" translate="label_recruitment"></a></li> -->	<!-- Saswata Start for Requirement module -->
							<li><a class="hvr-underline-from-center ng-scope" href="careers" translate="label_careers"></a></li> 	<!-- Saswata Start for Requirement module -->
							<!-- <li><a href="#" data-toggle="modal" data-target="#admin-login-modal" title="Admin Sign In" id="adminsignIn" class="small-a hvr-underline-from-center ng-scope" translate="admin"></a></li> -->
							
					</div>
				</div>
			</nav>
			<!-- Mobile View Menu End-->
<!-- The Modal -->
		<div>
			
		</div>
		</div>
		
		</form>



<div id="citizenServices" class="modal csmodal" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Modal content -->
  <div class="csmodal-content">
  <div id="citizenclose">
  <span onclick="document.getElementById('citizenServices').style.display='none'" 
  class="w3-button w3-display-topright">&#x2716;</span>
   </div>
    <div align="center">
    
    <h4 translate="login_csmosal_msg"></h4>
     <br><input class="btn btn-success" onclick="document.getElementById('citizenServices').style.display='none'"  id="signIn" type="button" data-target="#login-modal" data-toggle="modal" data-dismiss="modal csmodal" value="{{'Proceed'|translate}}">
    </div>
  </div>

</div>


  <!-- Modal content -->
  <div id="csmyModal" class="modal csmodal">
   
  <div class="csmodal-content"> 
  <div id="csclose" style="overflow:auto;">
  	<span onclick="document.getElementById('csmyModal').style.display='none'" 
 	 class="w3-button w3-display-topright">&#x2716;</span>
   </div>
    <div id='csmenu' >
<ul>
   <li class='has-sub'><a href='#'><span translate="label_online_application"></span></a>
      <ul>
         <li class='has-sub'><a onclick="MuteApplicationPage()"><span translate="label_mute_app"></span></a></li>
         <li class='has-sub'><a onclick="convAppViewPage()"><span translate="label_conv_app"></span></a></li>
		
         <li class='has-sub'><a onclick="FeesCollectionPage()"><span translate="label_fees_pay"></span></a></li>
         <li class='has-sub'><a onclick="grnsearchPageAppln()"><span translate="label_app_grn_search"></span></a></li>
         
        </ul>
   </li>
   <li class='has-sub'><a href='#'><span translate="label_service_delivery"></span></a>
      <ul>
         <li><a id="RORRequest" onclick='RORReqPage()'><span translate="label_ror_request"></span></a></li>
         <li><a id="PIRequest" onclick='PIReqPage()'><span translate="label_plot_info"></span></a></li>
         <li><a id="PlotMapRequest" onclick='PlotMapReqPage()'><span translate="label_plot_map"></span></a></li>
         <li><a id="MouzaMapRequest" onclick='MouzaMapReqPage()'><span translate="label_mouza_map"></span></a></li>
         
         <li><a onclick="grnsearchPageService()"><span translate="label_request_grn_search"></span></a></li>
       	 <li><a  onclick="signedPdfPage()"><span translate="label_ror_request_list"></span></a></li>
      </ul>
   </li>
   <li><a id="MouzaMapGrid" onclick='MouzaMapAvailabilityPage()'><span translate="label_mouza_map_availability"></span></a></li>						
   <li><a onclick="Apprec_rep()"><span translate="label_reprint_app"></span></a></li>
   <li><a onclick="muteStatusPage()"><span translate="label_mute_status"></span></a></li>
   <li><a onclick="serviceStatusLocWise()"><span translate="label_30days_mute_case"></span></a></li>
   <li><a onclick="plotKhatianStatusPage()"><span translate="PlotKhatianStatus"></span></a></li>
   <li><a onclick="rslrPlotInfoPage()"><span translate="label_rslr_info"></span></a></li>
   <li><a  onclick="landClassPage()"><span translate="label_land_class"></span></a></li>
</ul>
</div>
  </div>
  </div>
  
<div id="grievmyModal" class="modal grievmodal">

  <!-- Modal content -->
  <div class="grievmodal-content">
  <div id="grievclose">
  <span onclick="document.getElementById('grievmyModal').style.display='none'" 
  class="w3-button w3-display-topright">&#x2716;</span>
   </div>
    <div id='csmenu'>

      <ul>
         <li><a onclick="GrievApplicationPage()"><span translate="label_griv_app"></span></a></li>
         <li><a onclick="GrievStatusViewPage()"><span translate="label_griv_status"></span></a></li>
      </ul>
</div>
  </div>

</div>




<script>
/* var modal = document.getElementById('csmyModal');
var btn = document.getElementById("CS");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} */
</script>

<script type="text/javascript">
( function( $ ) {
	$( document ).ready(function() {
	$('#csmenu li.has-sub>a').on('click', function(){
			$(this).removeAttr('href');
			var element = $(this).parent('li');
			if (element.hasClass('open')) {
				element.removeClass('open');
				element.find('li').removeClass('open');
				element.find('ul').slideUp();
			}
			else {
				element.addClass('open');
				element.children('ul').slideDown();
				element.siblings('li').children('ul').slideUp();
				element.siblings('li').removeClass('open');
				element.siblings('li').find('li').removeClass('open');
				element.siblings('li').find('ul').slideUp();
			}
		});

		$('#csmenu>ul>li.has-sub>a').append('<span class="holder"></span>');

			});
	} )( jQuery );


var beforeLoginModal = document.getElementById('citizenServices');
var afterLoginModal = document.getElementById('csmyModal');
var afterLoginDiv = document.getElementById('afterLoginDiv');
var beforeLoginDiv = document.getElementById('beforeLoginDiv');
var afterLoginLabel = document.getElementById('afterLoginLabel');
var btngriv = document.getElementById("grievanceBtn");
var modal1 = document.getElementById('grievmyModal');
var btn = document.getElementById("citizenServicesBtn");
var span = document.getElementsByClassName("close");
var user = '';
var user_type = ''; 
if(user!='' && user_type=='citizen'){
	afterLoginDiv.style.display = "block"; 
	afterLoginLabel.style.display = "block";
	beforeLoginDiv.style.display = "none";
	
}else{
	afterLoginDiv.style.display = "none"; 
	afterLoginLabel.style.display = "none";  
	beforeLoginDiv.style.display = "block";
}
btn.onclick = function() {
	if(user==''){
		beforeLoginModal.style.display = "block";
		afterLoginDiv.style.display = "none"; 
    	afterLoginLabel.style.display = "none"; 
	}else if(user!='' && user_type=='citizen'){
		afterLoginModal.style.display = "block";
		afterLoginDiv.style.display = "block"; 
    	afterLoginLabel.style.display = "block"; 
	}else {
		beforeLoginModal.style.display = "block";
		afterLoginDiv.style.display = "none"; 
    	afterLoginLabel.style.display = "none"; 
	}
}
span.onclick = function() {
	beforeLoginModal.style.display = "none";
	afterLoginModal.style.display = "none";
}
btngriv.onclick = function() {
    modal1.style.display = "block";
}

</script>

<script type="text/javascript">
( function( $ ) {
	$( document ).ready(function() {
	$('#grievmenu li.has-sub>a').on('click', function(){
			$(this).removeAttr('href');
			var element = $(this).parent('li');
			if (element.hasClass('open')) {
				element.removeClass('open');
				element.find('li').removeClass('open');
				element.find('ul').slideUp();
			}
			else {
				element.addClass('open');
				element.children('ul').slideDown();
				element.siblings('li').children('ul').slideUp();
				element.siblings('li').removeClass('open');
				element.siblings('li').find('li').removeClass('open');
				element.siblings('li').find('ul').slideUp();
			}
		});

		$('#grievmenu>ul>li.has-sub>a').append('<span class="holder"></span>');

			});
	} )( jQuery );

</script>



<script type="text/javascript" src="/BanglarBhumi/js/bootstrap.min.js"></script>
<style type="text/css">
.container-fluid table tr th{
text-align:center;
padding:10px;
}
.container-fluid table td{
text-align:center;
padding:10px;
}
</style>
<script type="text/javascript">
function redirectURL(url){
	$("#proceedHref").attr("href", url);
	$('#beforeRedirectURL').show();
}
</script>
<div class="container" id="bodycover" style="width:100%;background:#C6CEE3;margin-top:4px;margin-bottom:4px;padding:20px;">
<div class="container" style="width:100%;background:#FFFFFF;padding-bottom:20px;margin:0 auto;">
<div class="row" style="background:#2F5B93;padding:0;">
				<h3  id="headertitle" class="table-text body_head_text"  translate="Screen_Reader_Access"></h3> 
</div>
<p align="justify" translate="Screen_Reader_Access_para" style="padding:10px;"></p><br>
<h3 align="center" translate="Screen_reader_table_head"></h3><br>
<div class="table-responsive">
             <table class="table-responsive table-bordered table-striped" width="100%" >
             <tbody>
             <tr>
             <th align="center" valign="middle" translate="Screen_Reader"></th>
             <th align="center" valign="middle" translate="Website"></th>
             <th align="center" valign="middle" translate="Free_Commercial"></th>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="SAFA"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://safa-reader.software.informer.com/download/");'>http://www.nabdelhi.org/NAB_SAFA.htm</a>
             </td>
             <td translate="Free">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="NVDA"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.nvda-project.org/");'>http://www.nvda-project.org/</a>
             </td>
             <td translate="Free">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="SATG"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.satogo.com/");'>http://www.satogo.com/</a>
             </td>
             <td translate="Free">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="thunder"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.screenreader.net/index.php?pageid=2");'>http://www.screenreader.net/index.php?pageid=2</a>
             </td>
             <td translate="Free">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="Web_any_where"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://webanywhere.cs.washington.edu/wa.php");'>http://webanywhere.cs.washington.edu/wa.php</a>
             </td>
             <td translate="Free">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="hal"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.yourdolphin.co.uk/productdetail.asp?id=5");'>http://www.yourdolphin.co.uk/productdetail.asp?id=5</a>
             </td>
             <td translate="Commercial">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="JAWS"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.freedomscientific.com/jaws-hq.asp");'>http://www.freedomscientific.com/jaws-hq.asp</a>
             </td>
             <td translate="Commercial">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="Supernova"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.yourdolphin.co.uk/productdetail.asp?id=1");'>http://www.yourdolphin.co.uk/productdetail.asp?id=1</a>
             </td>
             <td translate="Commercial">
             </td>
             </tr>
             <tr>
             <td align="center" valign="middle"  translate="Window_Eyes"></td>
             <td>
             <a title="External website that opens in a new window" rel="noopener noreferrer" onclick='redirectURL("http://www.gwmicro.com/Window-Eyes/");'>http://www.gwmicro.com/Window-Eyes/</a>
             </td>
             <td translate="Commercial">
             </td>
             </tr>
             <tr>
             </tr>
             </tbody>       
    </table>
    </div>
</div>
</div>  
</div>
<div id="beforeRedirectURL" class="modal csmodal" tabindex="-1" role="dialog" aria-hidden="true">
			<!-- Modal content -->
			<div class="csmodal-content" style="height: 180px;">
				<div align="center" style="background-color: #e0e0d1!important;height: 160px;">
				<br/>
				<div style="background-color: #f2f2c0!important;width:80%;text-align: center;margin:0 auto; border-radius:20px;margin-top: 20px;border: thin solid; border-color: #36648b;-moz-box-shadow: 0 0 8px #000000;-webkit-box-shadow:  0 0 8px #000000;box-shadow: 0 0 8px #000000;">
		
					<h4 translate="other_link1" style="color: #000000"></h4>
				</div>
				
					<br/>
					<br/>
					<a id="proceedHref" class="btn btn-success" onclick="document.getElementById('beforeRedirectURL').style.display='none'"
						data-toggle="modal" target="_blank" rel="noopener noreferrer" data-dismiss="modal csmodal" translate="Proceed"></a>
					<a class="btn btn-warning" onclick="document.getElementById('beforeRedirectURL').style.display='none'"
						data-toggle="modal" data-dismiss="modal csmodal" translate="cancel"></a>
				</div>
			</div>
		
</div>


<style>
#myFooter {
    background-color: #3481BE;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #0F4299;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 5px;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
	font-size: 14px;
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-bottom: 5px;
}

#myFooter .fa-facebook {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}
#myFooter .fa-google-plus{
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter  .fa-twitter {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

/* #myFooter .fa-language{
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
} */
#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}
/* #myFooter .fa-language:hover{
	color: green;
}
#myFooter .fa-language:focus{
	color: green;
} */
#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}
#addressFooter ul li i{
font-size:14px;
}
@media screen and (max-width: 768px) {
    #myFooter {
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
#sitemapli a{
	color:#C0C0C0;
	font-wieght:bold;
	font-size:17px;
}
#sitemapli a:hover{
	color:#FFFFFF !important;
}
.footer-copyright p span{
	font-size:14px;
}
</style>
<div id="latestNewsDiv"></div>
<script type="text/javascript">
        window.history.forward();
        function noBack(){
            window.history.forward();
        }
       
</script>
<script type="text/javascript">
	$( document ).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();
	});
	$(window).bind("resize",function(){
	    //alert($(this).width());
	    if($(this).width() <500){
	    	$('#addressFooter').removeClass('col-md-4').addClass('col-md-2');
	    	
	    }
	    else{
	    	$('#addressFooter').removeClass('col-md-2').addClass('col-sm-4');
	    	$('#siteFooter').removeClass('col-md-2').addClass('col-sm-2');
	    	$('#policyFooter').removeClass('col-md-2').addClass('col-sm-2');
	    	$('#wimFooter').removeClass('col-md-2').addClass('col-sm-2');
	    	$('#feedbackFooter').removeClass('col-md-2').addClass('col-sm-2');
	    }
	});
	function redirectURL(url){
		$("#proceedHref").attr("href", url);
		$('#beforeRedirectURL').show();
	}
</script>
</div>
<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">


</body> <!-- Change by Saswata for footer design -->
   <footer id="myFooter">
            <div class="row">
                <div id="siteFooter" class="col-md-2">
                    <h5 translate="foot_get_start">Get started</h5>
                    <ul>
                        <li><a onclick="homePage()" href="#" translate="home"></a></li>
                        <li><a onclick="ProfilePage()" href="#" translate="Profile"></a></li>
                        <li><a onclick="LandReformPage()" translate="label_About_Land_Reforms"></a></li>
                        <li id="sitemapli"><a onclick="SiteMapPage()" translate="SITE_MAP" style="font-weight:bold;"></a></li>
                    </ul>
                </div>
                <div id="policyFooter" class="col-md-2">
                    <h5 translate="About_Us"></h5>
                    <ul>
                     	<li><a onclick="AdministrativePage()" translate="Administrative_Setup"></a></li>
                        <li><a onclick="ARTIPage()" translate="ARTI"></a></li>
                        <li><a onclick="LMTCPage()" translate="LMTC"></a></li>
                        <li><a onclick="LandPolicyBranchPage()" translate="label_Land_Policy"></a></li>
                       
                    </ul>
                </div>
                <div id="wimFooter" class="col-md-2">
                    <h5 translate="support"></h5>
                    <ul>
                        <li><a href="helpTopic" translate="FAQ"></a></li>
                        <li><a onclick="helpPage()" translate="help">Help desk</a></li>
                        <li><a href="#" translate="forum">Forums</a></li>
                        <li><a href="webInformationManager" translate="wim">Web Information Manager</a></li>
                    </ul>
                </div>
                <div id="feedbackFooter" class="col-md-2">
                    <h5 translate="legal"></h5>
                    <ul>
                        <li><a onclick="termuse()" translate="terms_of_use"></a></li>
                        <li><a onclick="pripol()" translate="privacy_policy"></a></li>
                        <li><a onclick="linkpol()" translate="linking_policy"></a></li>
                        <li><a onclick="feedback()" translate="feedback_head"></a></li>
                    </ul>
                </div>
                <div id="addressFooter" class="col-md-4">
                 <h5 translate="contact_address"></h5>
                <ul>
					<li><i id="map" class="fa fa-map-marker" translate="dlrstitle"></i></li>
					<li><i id="phone" class="fa fa-phone" translate="dlrstel"></i></li>
					<li ><i id="email" class="fa fa-envelope" translate="dlrsemail"></i></li>
					<li><img src="images/footer-wmap.png" alt=""></li>
				</ul>
			</div>
            </div>
           
            
            
        <div class="social-networks">
            <a target="_blank" rel="noopener noreferrer" onclick='redirectURL("https://twitter.com/DLRSWB123");' class="twitter"><i class="fa fa-twitter"></i></a>
            <a target="_blank" rel="noopener noreferrer" onclick='redirectURL("https://www.facebook.com/Land-Land-Reforms-Department-160040321302859/?modal=admin_todo_tour");' class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" onclick='redirectURL("#");' class="google"><i class="fa fa-google-plus"></i></a>
            <a target="_blank" rel="noopener noreferrer" onclick='redirectURL("https://play.google.com/store/apps/details?id=com.app.nic22.banglarbhumi");' href=""><img alt="" class="google_play" src="/BanglarBhumi/images/app_link_new.png"></a>
        </div>
        <div class="footer-copyright" style="line-height:20px;">
            <p translate="main_footer_label1"></p>
            <span class="text-center" translate="main_footer_label2"></span><span><a target="_blank" rel="noopener noreferrer" onclick='redirectURL("https://www.nic.in/");'> <img src="/BanglarBhumi/images/nic.png" alt="National Informatics Center,Government of India"/></a></span><br>
			<p class="text-center" style="display:inline" translate="main_footer_label4"></p><br>
			<p class="text-center" style="display:inline" translate="main_footer_label3"></p><span>04/09/2019 03.00 PM</span>
        </div>
        <div id="beforeRedirectURL" class="modal csmodal" tabindex="-1" role="dialog" aria-hidden="true">
			<!-- Modal content -->
			<div class="csmodal-content" style="height: 180px;">
				<div align="center" style="background-color: #e0e0d1!important;height: 160px;">
				<br/>
				<div style="background-color: #f2f2c0!important;width:80%;text-align: center;margin:0 auto; border-radius:20px;margin-top: 20px;border: thin solid; border-color: #36648b;-moz-box-shadow: 0 0 8px #000000;-webkit-box-shadow:  0 0 8px #000000;box-shadow: 0 0 8px #000000;">
		
					<h4 translate="other_link1" style="color: #000000"></h4>
				</div>
				
					<br/>
					<br/>
					<a id="proceedHref" class="btn btn-success" onclick="document.getElementById('beforeRedirectURL').style.display='none'"
						data-toggle="modal" target="_blank" rel="noopener noreferrer" data-dismiss="modal csmodal" translate="Proceed"></a>
					<a class="btn btn-warning" onclick="document.getElementById('beforeRedirectURL').style.display='none'"
						data-toggle="modal" data-dismiss="modal csmodal" translate="cancel"></a>
				</div>
			</div>
		
		</div>
    </footer>

